.add-button {
  position: absolute;
  bottom: 1rem;
  z-index: 999999;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  padding: 0.75em;
  cursor: pointer;
}
