.a2hs {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  padding: var(--spacer-4);
  font-size: 1rem;
  background-color: transparent;
  justify-content: center;

  &__cta {
    box-shadow: 0 4px 12px var(--shadow);
    transition: box-shadow 0.2s ease, background-image 0.2s ease;
  }

  &.hidden { display: none; }
}
