// https://dev.to/takaneichinose/css-only-calendar-datepicker-5c12
$starting-year: 2020;
$ending-year: 2020;
$months-count: 12;
$days-in-week: 7;

$cell-size: 100%;

$hover-background-color: var(--gray-20);

$primary-color: var(--white);
$primary-background-color: var(--purple-40);

$calendar-background-color: var(--white);
$calendar-width: rem(280);
$calendar-box-shadow: hsl(263.8 96.9% 61.8% / .16);

$cal-head-color: $primary-color;
$cal-head-background-color: $primary-background-color;
$cal-head-height: rem(50);

$cal-head-controls-width: rem(30);
$cal-head-controls-height: $cal-head-height;

$cal-change-month-width: $cal-head-controls-width;
$cal-change-month-height: $cal-head-controls-height;

$cal-change-month-active-background-color: var(--purple-60);

$cal-change-month-svg-fill: var(--white);
$cal-change-month-svg-width: rem(24);
$cal-change-month-svg-height: rem(24);

$cal-change-year-height: $cal-head-controls-height;
$cal-change-year-padding: 0 8px;

$cal-change-year-svg-fill: var(--white);
$cal-change-year-svg-width: rem(12);
$cal-change-year-svg-height: rem(12);

$cal-change-year-active-background-color: var(--purple-60);

$cal-day-background-color: var(--gray-20);
$cal-day-height: 30px;

$cal-date-height: 40px;

$cal-date-span-hover-background-color: $hover-background-color;
$cal-date-span-active-color: $primary-color;
$cal-date-span-active-background-color: $primary-background-color;
$cal-date-span-transition: background-color ease-out 150ms, color ease-out 150ms;

$cal-body-min-height: $cal-day-height + ($cal-date-height * 6);

// Макет календаря
.c-calendar {
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto;
  margin-block-end: 1.75rem;
  width: $calendar-width;
  box-shadow: 0 rem(4) rem(12) $calendar-box-shadow;
  background-color: $calendar-background-color;
  user-select: none;

  .cal-check {
    display: none;

    &:checked + .cal {
      display: block;
    }
  }

  .cal-year-check {
    display: none;

    &:checked + .cal-month-check + .cal {
      display: block;
    }
  }

  @for $year from $starting-year through $ending-year {
    .cal-month-check[data-cal-year="#{$year}"] {
      display: none;

      &:checked + .cal {
        display: block;

        .year-picker {
          display: none;
        }

        .month-picker[data-cal-year="#{$year}"] {
          display: grid;
        }
      }
    }
  }

  .cal {
    display: none;
    margin-block-end: rem(32);

    &__head {
      display: flex;
      width: 100%;
      height: $cal-head-height;
      background-color: $cal-head-background-color;
      color: $cal-head-color;

      .controls {
        box-sizing: border-box;
        width: 50%;
        height: $cal-head-controls-height;
        line-height: $cal-head-controls-height;

        &:first-child {
          font-weight: bold;
          text-align: left;
        }

        &:last-child {
          display: flex;
          justify-content: flex-end;
        }

        .cal-change-year {
          display: inline-block;
          padding: $cal-change-year-padding;
          height: $cal-change-year-height;
          line-height: $cal-change-year-height;

          &:hover,
          &:active {
            background-color: $cal-change-year-active-background-color;
          }

          svg {
            width: $cal-change-year-svg-width;
            height: $cal-change-year-svg-height;
            fill: $cal-change-year-svg-fill;
            vertical-align: middle;
          }
        }

        .cal-change-month {
          display: flex;
          width: $cal-change-month-width;
          height: $cal-change-month-height;
          line-height: $cal-change-month-height;
          text-align: center;

          &:hover,
          &:active {
            background-color: $cal-change-month-active-background-color;
          }

          svg {
            margin: auto;
            width: $cal-change-month-svg-width;
            height: $cal-change-month-svg-height;
            fill: $cal-change-month-svg-fill;
            vertical-align: middle;
          }
        }
      }
    }

    // Макет календарной сетки
    &__body {
      display: grid;
      grid-template-columns: repeat(#{$days-in-week}, 1fr);
      align-content: start;
      min-height: $cal-body-min-height;

      &.year-picker {
        grid-template-columns: repeat(4, 1fr);
      }

      &.month-picker {
        display: none;
        grid-template-columns: repeat(3, 1fr);
      }

      // Дни
      .cal-day {
        height: $cal-day-height;
        background-color: $cal-day-background-color;
        line-height: $cal-day-height;
        text-align: center;
      }

      // Даты
      .cal-date {
        height: $cal-date-height;
        line-height: $cal-date-height;
        text-align: center;

        input[type="radio"] {
          display: none;

          &:checked + span {
            color: $cal-date-span-active-color;
            background-color: $cal-date-span-active-background-color;
          }
        }

        label,
        label span {
          display: block;
          border-radius: rem(4);
          text-align: center;
          @extend %tabular-nums;
          @include fvar($exa, $regular)
        }

        label span {
          transition: $cal-date-span-transition;

          &:hover {
            background-color: $cal-date-span-hover-background-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .c-calendar { display: none; }
}
