$months-count: 12;
$days-in-week: 7;

$hover-background-color: var(--gray-20);

$primary-color: var(--white);
$primary-background-color: var(--purple-40);

$calendar-background-color: var(--white);
$calendar-width: rem(280);
$calendar-box-shadow: hsl(263.8 96.9% 61.8% / .16);

$cal-day-background-color: var(--gray-20);
$cal-day-height: 30px;

$cal-date-height: 40px;

$cal-date-span-hover-background-color: $hover-background-color;
$cal-date-span-active-color: $primary-color;
$cal-date-span-active-background-color: $primary-background-color;
$cal-date-span-transition: background-color var(--timing) 150ms, color var(--timing) 150ms;

$cal-body-min-height: $cal-day-height + ($cal-date-height * 6);

// Макет календаря
.c-calendar {
  margin: auto;
  margin-block-end: 1.75rem;
  width: $calendar-width;
  box-shadow: 0 rem(4) rem(12) $calendar-box-shadow;
  background-color: $calendar-background-color;
  user-select: none;
  border-radius: 6px;

  // Макет календарной сетки
  &__body {
    display: grid;
    grid-template-columns: repeat(#{$days-in-week}, 1fr);
    align-content: start;
    min-height: $cal-body-min-height;
    text-align: center;
    @include fvar($exa, $regular);
  }

  // Дни
  &__day {
    height: $cal-day-height;
    background-color: $cal-day-background-color;
    line-height: $cal-day-height;

    &:nth-child(1) {
      border-top-left-radius: rem(6);
    }

    &:nth-child(7) {
      border-top-right-radius: rem(6);
    }
  }

  // Даты
  &__date {
    height: $cal-date-height;
    line-height: $cal-date-height;

    input[type="radio"] {
      display: none;

      &:checked + span {
        color: $cal-date-span-active-color;
        background-color: $cal-date-span-active-background-color;
      }
    }

    label,
    label span {
      display: block;
      border-radius: rem(4); // 50%
      text-align: center;
      @extend %tabular-nums;
    }

    label span {
      transition: $cal-date-span-transition;

      @include hover {
        background-color: $cal-date-span-hover-background-color;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .c-calendar { display: none; }
}
