$months-count: 12;
$days-in-week: 7;

$calendar-bg-color: var(--white);
$calendar-width: rem(280);
$calendar-box-shadow: hsl(263.8 96.9% 61.8% / .16);
$calendar-day-bg-color: var(--gray-20);
$calendar-day-height: 30px;
$calendar-date-height: 40px;
$calendar-date-span-hover-bg-color: var(--gray-20);
$calendar-date-span-active-color: var(--white);
$calendar-date-span-active-bg-color: var(--purple-40);
$calendar-date-span-transition: background-color var(--timing) 150ms, color var(--timing) 150ms;
$calendar-body-min-height: $calendar-day-height + ($calendar-date-height * 6);

// Макет календаря
.c-calendar {
  margin: auto;
  margin-block-end: 1.75rem;
  width: $calendar-width;
  box-shadow: 0 rem(4) rem(12) $calendar-box-shadow;
  background-color: $calendar-bg-color;
  user-select: none;
  border-radius: 6px;

  // Макет календарной сетки
  &__body {
    display: grid;
    grid-template-columns: repeat(#{$days-in-week}, 1fr);
    align-content: start;
    min-height: $calendar-body-min-height;
    text-align: center;
    @include fvar($exa, $regular);
  }

  // Дни
  &__day {
    height: $calendar-day-height;
    background-color: $calendar-day-bg-color;
    line-height: $calendar-day-height;

    &:nth-child(1) {
      border-top-left-radius: rem(6);
    }

    &:nth-child(7) {
      border-top-right-radius: rem(6);
    }
  }

  // Даты
  &__date {
    height: $calendar-date-height;
    line-height: $calendar-date-height;

    input[type="radio"] {
      display: none;

      &:checked + span {
        color: $calendar-date-span-active-color;
        background-color: $calendar-date-span-active-bg-color;
      }
    }

    label,
    label span {
      display: block;
      border-radius: rem(4); // 50%
      text-align: center;
      @extend %tabular-nums;
    }

    label span {
      transition: $calendar-date-span-transition;

      @include hover {
        background-color: $calendar-date-span-hover-bg-color;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .c-calendar { display: none; }
}
