@use '../config';

::marker {
  color: currentcolor;
  font-feature-settings: 'lnum' 1, 'tnum' 1;
  font-variant-numeric: tabular-nums;
}

.terms {
  counter-reset: h-count;
}

.h-count {
  color: hsl(var(--black));
  counter-increment: h-count;
}

[role='list'] {
  max-width: var(--container-md);
  padding-inline-start: (--spacer-5);
  margin-block-start: var(--spacer-3);
  margin-block-end: var(--spacer-4);

  & > * + * {
    margin-block-start: var(--spacer-2);
  }
}

@supports (counter-set: count) {
  .h-count {
    display: list-item;
    padding-inline-start: var(--spacer-1);
    margin-inline-start: var(--spacer-4);

    &::marker {
      content: counter(h-count) '.';
    }
  }

  [role='list'] li {
    padding-inline-start: var(--spacer-1);

    &::marker {
      content: counters(list-item, '.', decimal) '.';
    }
  }
}

@supports not (counter-set: count) {
  .h-count {
    &::before {
      color: currentcolor;
      content: counter(h-count) '. ';
    }
  }

  [role='list'] {
    counter-reset: list-item;

    li {
      counter-increment: list-item;

      &::before {
        color: currentcolor;
        content: counters(list-item, '.', decimal) '. ';
      }
    }
  }
}

@include config.respond('tablet') {
  .h-count {
    margin-inline-start: var(--spacer-4);
  }
}
