.cursor { display: none; }

.cursor__inner {
  --dot-size: #{rem(8)};
  --circle-size: #{rem(40)};

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;

  &--dot {
    width: var(--dot-size);
    height: var(--dot-size);
    background: var(--white);
  }

  &--circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border: 1px solid var(--white);
  }
}

// https://drafts.csswg.org/mediaqueries-4/#hover
@media(hover: hover) and (pointer: fine) {
  .cursor { display: block; }
}
