// TODO: Динамическая навигация на моб. устройствах
// https://css-tricks.com/styling-based-on-scroll-position/

.c-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
}

@media screen and (min-width: $tablet) {
  .c-nav {
    display: grid;
    grid:
      "nav" max-content
      "soc" auto
      / 1fr;
    align-content: space-between;
    width: var(--nav-inline);
    min-height: 100vh;
    box-shadow: hsl(0 0% 0% / .05) 0 rem(4) rem(12) 0;
    background: var(--white);
    padding-block-start: rem(28);
    padding-block-end: rem(24);

    & > * {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &__links {
      --inverse: -1;
      grid-area: nav;
      transform: scale(var(--inverse));
      writing-mode: vertical-lr;

      &-social {
        grid-area: soc;
        flex-flow: column;
      }

      // https://www.trysmudford.com/blog/fade-out-siblings-css-trick/
      &:hover > *,
      &:focus-within > * {
        --alpha: 0.5;
        opacity: var(--alpha);
      }

      &:hover > :hover,
      &:focus-within > :focus {
        --alpha: 1;
      }
    }

    @supports(writing-mode: sideways-lr) {
      &__links {
        --inverse: 1;
        writing-mode: sideways-lr;
      }
    }

    &__link {
      display: inline-flex;
      flex: 0 0 auto;
      align-items: center;
      transition:
        opacity var(--speed) var(--timing),
        background-color var(--speed) var(--timing);
      min-block-size: var(--nav-inline);
      padding: rem(8) 0;
      color: var(--gray-100);
      text-align: center;
      text-transform: uppercase;
      line-height: 2;
      font-size: rem(12);
      @include fvar($exa, $medium);

      &:hover,
      &:focus { background-color: var(--gray-20); }

      &:focus-visible { outline-offset: -2px; }

      &:nth-child(1),
      &:nth-child(2) { display: none; }

      &-social {
        width: var(--nav-inline);
        min-height: rem(36);
        background: var(--icon) center / rem(20) rem(20) no-repeat;
        transition: filter var(--speed) var(--timing);
        filter: opacity(50%);

        &:hover { filter: opacity(100%); }

        &:nth-child(1) { --icon: var(--svg-vk); }
        &:nth-child(2) { --icon: var(--svg-ig); }
        &:nth-child(3) { --icon: var(--svg-at); }
      }
    }
  }
}
