.c-session {
  position: relative;
  grid-row: var(--time);
  grid-column: var(--date);

  &__card {
    --shadow: hsl(263.8 96.9% 61.8% / .16);
    --y: 0;
    align-self: start;
    backface-visibility: hidden;
    perspective: 1000px;
    will-change: transform;
    transform: translateY(var(--y));
    transition-duration: calc(var(--speed) * 1.5);
    transition-property: box-shadow, transform;
    transition-timing-function: var(--timing);
    border-radius: rem(4);
    box-shadow: 0 rem(4) rem(12) var(--shadow);
    background: var(--white);
    padding: rem(8);
    font-size: rem(14);

    &:hover {
      --y: -2px;
      box-shadow: 0 rem(8) rem(16) var(--shadow);
    }
  }

  &--merged {
    display: grid;
    row-gap: rem(16);
    // Управляет поведением автоматически размещаемых элементов
    grid-auto-flow: row dense;
    // Устанавливает размер неявных треков
    grid-auto-rows: minmax(auto, 0.5fr);
  }

  &__title,
  &__date,
  &__time,
  &__coach,
  &__cta {
    display: block;
    color: var(--gray-100);
  }

  &__title {
    font-size: 1em;
    a {
      transition: font-variation-settings var(--speed) var(--timing);
      @include fvar($exa, $semibold);
      &:hover {
        @include fvar($exa, $semibold, $oblique)
      }
    }
  }

  &__date,
  &__time,
  &__coach {
    @include fvar($exa, $regular)
  }

  &__cta {
    display: inline-block;
    margin-block-start: rem(8);
    @include fvar($exa, $medium);
    a {
      transition-duration: var(--speed);
      transition-property: color, background-size;
      transition-timing-function: var(--timing);
      @include cta-set-01($reverse, $null, $full)
    }
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    border-radius: 0 rem(4);
    box-shadow: 0 rem(1) rem(2) hsl(0 0% 0% / .27);
    background: linear-gradient(
      to bottom right,
      var(--purple-30) 0%,
      var(--purple-60) 100%
    );
    padding: rem(3) rem(5);
    color: var(--white);
    text-transform: uppercase;
    text-shadow: 0 rem(2) rem(2) hsl(0 0% 0% / .1);
    font-size: rem(10.67);
    @include fvar($exa, $semibold)
  }
}

.c-session { // Резервный вариант + моб.
  margin: 0 auto rem(16);
  max-inline-size: rem(270);
}

@supports(display: grid) {
  @media screen and (min-width: $tablet) {
    .c-session {
      margin: 0;
      &__date,
      &__time { display: none; }
    }
  }
}
