.slides {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 10vw;
  @include user-select;
}

.slide {
  $init: &;
  $prev: #{&}--prev;
  $next: #{&}--next;
  $show: #{&}--show;

  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: var(--laptop);
  height: 25vh;
  color: var(--gray-90);
  transform: translateY(-50%);
  transition:
    transform calc(var(--speed) * 5),
    opacity calc(var(--speed) * 2) var(--timing);

  &--prev,
  &--next { opacity: 0; }
  &--prev { transform: translateY(-85%); }
  &--next { transform: translateY(-15%); }

  &__title {
    color: var(--black);
    transition:
      font-variation-settings calc(var(--speed) * 2) var(--timing),
      color calc(var(--speed) * 3) var(--timing);

    #{$prev} &,
    #{$next} & {
      @include fvar($exa, $thin);
    }

    #{$show} & {
      color: var(--white);
      transition: color calc(var(--speed) * 5) var(--speed) var(--timing);
    }
  }

  &__cta {
    opacity: 0;
    transition: opacity calc(var(--speed) * 3) var(--timing);
    box-shadow: 0 4px 12px hsla(263.8, 96.9%, 61.8%, 0.2);
    @include cta-set-02(
      linear-gradient(
        135deg,
        var(--magenta-30),
        var(--purple-40)
      )
    );

    #{$show} & {
      opacity: 1;
      transition: opacity calc(var(--speed) * 5) var(--speed) var(--timing);
    }
  }
}

.scrolling > .slide {
  opacity: 1;
  transform: translateY(-50%);
}

@media screen and (min-width: $tablet) {
  .slides {
    padding: 0 17vw;
  }

  .slide {
    align-items: flex-start;
    height: 33vh;
  }
}
