@use '../config';

.slides {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 10vw;
  user-select: none;
}

.slide {
  $init: &;
  $prev: #{&}--prev;
  $next: #{&}--next;
  $show: #{&}--show;

  display: flex;
  width: 100%;
  max-width: var(--container-xl);
  height: 25vh;
  margin: 0 auto;
  color: var(--gray-90);
  transition:
    transform calc(var(--duration) * 5),
    opacity calc(var(--duration) * 2) var(--easing);
  transform: translateY(-50%);
  flex-flow: column;
  align-items: center;

  &--prev,
  &--next { opacity: 0; }
  &--prev { transform: translateY(-85%); }
  &--next { transform: translateY(-15%); }

  &__title {
    color: hsl(var(--black));
    transition:
      font-variation-settings calc(var(--duration) * 2) var(--easing),
      color calc(var(--duration) * 3) var(--easing);

    #{$prev} &,
    #{$next} & {
      @include config.typeset('sans', 'thin', 'exa');
    }

    #{$show} & {
      color: hsl(var(--white));
      transition: color calc(var(--duration) * 5) var(--duration) var(--easing);
    }
  }

  &__cta {
    opacity: 0;
    transition: opacity calc(var(--duration) * 3) var(--easing);

    #{$show} & {
      opacity: 1;
      transition: opacity calc(var(--duration) * 5) var(--duration) var(--easing);
    }
  }
}

.scrolling > .slide {
  opacity: 1;
  transform: translateY(-50%);
}

@include config.respond('tablet') {
  .slides {
    padding: 0 17vw;
  }

  .slide {
    align-items: flex-start;
    height: 33vh;
  }
}
