.c-tabs {
  --tab-h: #{rem(48)};
  position: relative;
  margin-block-start: rem(32);
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
  max-width: rem(300);
  min-height: rem(448);
}

.c-tabs__tab {
  display: flex;
  flex-direction: column;
  @include fvar($exa, $semibold);

  &:first-child {
    > label {
      border-radius: rem(6) rem(6) 0 0;
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    border: none;
    height: var(--tab-h);
    background: var(--gray-20);
    padding: rem(16);
    color: var(--gray-90);
    line-height: 1;
    cursor: pointer;
  }

  [type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    &:checked ~ label {
      z-index: 2;
      background: var(--white);
      color: var(--gray-100);
    }

    &:checked ~ label ~ .c-tabs__content {
      opacity: 1;
      z-index: 1;
    }

    &:focus + label {
      outline: 2px dotted var(--purple-40);
    }

    &:focus:not(:focus-visible) + label {
      outline: 2px dotted transparent;
    }
  }
}

.c-tabs__content {
  position: absolute;
  top: calc(var(--tab-h) * 5);
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 0.5fr minmax(min-content, 1fr);
  gap: rem(16);
  align-content: start;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0 0 rem(6) rem(6);
  padding: rem(16);
  box-shadow: 0 rem(8) rem(24) rgba(0,0,0,0.3);
  background: var(--white);
  color: var(--gray-100);

  p,
  b { @include fvar($exa, $medium); }

  p { margin: 0; }

  b {
    grid-column: span 2;
    gap: inherit;
    border-bottom: 1px solid var(--gray-20);
    padding-block-end: rem(16);

    &:nth-child(2) {
      display: grid;
      grid: inherit;
    }
  }

  a {
    --shadow: hsla(263.8 96.9% 61.8% / 0.2);
    box-shadow: 0 4px 12px var(--shadow);
    text-align: center;
    @include cta-set-02(
      linear-gradient(
        135deg,
        var(--magenta-30),
        var(--purple-40)
      )
    );
  }

  .purchase,
  .quantity {
    display: grid;
    align-items: center;
    @extend %tabular-nums;
  }

  .purchase {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: rem(8);
    justify-content: end;
  }

  .quantity {
    @include fvar($exa, $medium);
  }
}

@media (min-width: $tablet) {
  .c-tabs {
    display: flex;
    align-items: flex-start;
    margin-inline-start: 0;
    max-width: max-content;
    min-height: rem(448);

    &__tab > label {
      border-radius: rem(6) rem(6) 0 0;
    }

    &__content {
      position: absolute;
      top: var(--tab-h);
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      row-gap: rem(16);
      place-content: start;
      padding: rem(16) rem(20);
    }
  }
}
