@use '../config';

#promo {
  width: 100%;
  height: auto;
}

@include config.respond('tablet') {
  #promo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    margin-inline-end: calc(50% - 50vw);
    margin-inline-start: calc(50% - 50vw);
  }
}
