//==========================================================================
// Variables
//==========================================================================

/* Breakpoint values
--------------------------------------------------------- */
$mobile: rem(320);
// 640px
$tablet: rem(768);
// 1024px
$laptop: rem(1280);

/* Font Variations
--------------------------------------------------------- */
$upright: "slnt" 0;
$oblique: "slnt" 15;

$zetta : "wdth" 100;
$exa   : "wdth" 190;
$peta  : "wdth" 300;
$tera  : "wdth" 530;

$thin     : "wght" 100;
$regular  : "wght" 400;
$medium   : "wght" 500;
$semibold : "wght" 600;
$bold     : "wght" 700;

/* Text Decoration
--------------------------------------------------------- */
$null: 0;
$full: 100%;

$default: $null $full;
$reverse: $full $full;
