* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  @include scrollbar;
}

::selection {
  background: transparent;
  text-shadow: none;
}

:root {
  // Data URI
  --svg-ig: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23525252" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>');
  --svg-vk: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%23525252" d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z"></path></svg>');
  --svg-at: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23525252" d="M256 8C118.941 8 8 118.919 8 256c0 137.058 110.919 248 248 248 52.925 0 104.68-17.078 147.092-48.319 5.501-4.052 6.423-11.924 2.095-17.211l-5.074-6.198c-4.018-4.909-11.193-5.883-16.307-2.129C346.93 457.208 301.974 472 256 472c-119.373 0-216-96.607-216-216 0-119.375 96.607-216 216-216 118.445 0 216 80.024 216 200 0 72.873-52.819 108.241-116.065 108.241-19.734 0-23.695-10.816-19.503-33.868l32.07-164.071c1.449-7.411-4.226-14.302-11.777-14.302h-12.421a12 12 0 0 0-11.781 9.718c-2.294 11.846-2.86 13.464-3.861 25.647-11.729-27.078-38.639-43.023-73.375-43.023-68.044 0-133.176 62.95-133.176 157.027 0 61.587 33.915 98.354 90.723 98.354 39.729 0 70.601-24.278 86.633-46.982-1.211 27.786 17.455 42.213 45.975 42.213C453.089 378.954 504 321.729 504 240 504 103.814 393.863 8 256 8zm-37.92 342.627c-36.681 0-58.58-25.108-58.58-67.166 0-74.69 50.765-121.545 97.217-121.545 38.857 0 58.102 27.79 58.102 65.735 0 58.133-38.369 122.976-96.739 122.976z"></path></svg>');
}

body {
  --nav-inline: #{rem(56)};
  --cta-block: #{rem(36)};

  --speed: 300ms;
  --timing: cubic-bezier(0.2, 1, 0.3, 1);

  // https://drafts.csswg.org/css-color-4/#the-hsl-notation
  --white: hsl(0 0% 100%); // foreground
  --black: hsl(0 0% 0%);

  // IBM Colors V02
  --red-60: hsl(356.8 75.8% 48.6%); // #da1e28
  --magenta-10: hsl(332 100% 97.1%); // #fff0f7
  --magenta-20: hsl(333.7 100% 92%); // #ffd6e8
  --magenta-30: hsl(333.8 100% 84.3%); // #ffafd2
  --magenta-40: hsl(334 100% 74.7%); // #ff7eb6
  --magenta-60: hsl(333.9 68.5% 48.6%); // #d12771
  --purple-10: hsl(258.5 100% 97.5%); // #f6f2ff
  --purple-20: hsl(262.7 100% 92.7%); // #e8daff
  --purple-30: hsl(262.1 100% 86.7%); // #d4bbff
  --purple-40: hsl(263.2 100% 79.2%); // #be95ff
  --purple-60: hsl(263.8 96.9% 61.8%); // #8a3ffc
  --blue-20: hsl(217 100% 90.8%); // #d0e2ff
  --blue-30: hsl(217.1 100% 82.5%); // #a6c8ff;
  --blue-40: hsl(218.2 100% 73.5%); // #78a9ff;
  --blue-60: hsl(219.2 99.2% 52.7%); // #0f62fe;
  --green-50: hsl(137.3 63.5% 38.6%); // #24a148
  --gray-10: hsl(0 0% 95.7%); // #f4f4f4 background
  --gray-20: hsl(0 0% 87.8%); // #e0e0e0 border
  --gray-30: hsl(0 0% 77.6%); // #c6c6c6
  --gray-70: hsl(0 0% 32.2%); // #525252 icon
  --gray-90: hsl(0 0% 14.9%); // #262626 text-02
  --gray-100: hsl(0 0% 8.6%); // #161616 text-01
  --orange-40: hsl(24.9 100% 58.4%); // #ff832b
  --yellow-30: hsl(46.8 88.4% 52.5%); // #f1c21b

  --alert-20: var(--yellow-30);
  --alert-40: var(--orange-40);
  --alert-50: var(--green-50);
  --alert-60: var(--red-60);

  min-height: 100vh;
  background: var(--gray-10);
  color: var(--black);
  font-family: Grtsk Variable, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeSpeed;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
	body {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
}

a:focus-visible {
  outline: 2px dotted var(--purple-60);
}

.o-content {
  display: grid;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--gray-10);

  canvas {
    @include user-select;
  }
}
