* {
  --mobile: #{rem(320)};
  --tablet: #{rem(768)};
  --laptop: #{rem(1280)};
  --responsive: calc((var(--min-size) * 1px) + (var(--max-size) - var(--min-size)) * ((100vw - var(--mobile)) / (1280 - 320)));
}

%tabular-nums {
  font-feature-settings: "lnum" 1, "tnum" 1;
  font-variant-numeric: tabular-nums;
}

@for $i from 1 through 4 {
  .fs-h#{$i} {
    margin-block-end: rem(16);
    color: var(--black);
    font-weight: 400;
    line-height: 1.15;
  }
}

.fs-h2,
.fs-h3,
.fs-h4 {
  margin-block-start: rem(28);
}

.fs-h1 { // slide__title
  --max-size: 121.5;
  --min-size: 36.00;
  font-size: var(--responsive);
  text-indent: -0.5vw;
  @include fvar($peta, $bold)
}

.fs-h2 {
  --max-size: 81.00;
  --min-size: 36.00;
  font-size: var(--responsive);
  @include fvar($exa, $semibold)
}

.fs-h3 {
  --max-size: 54.00;
  --min-size: 24.00;
  font-size: var(--responsive);
  @include fvar($exa, $semibold)
}

.fs-h4 {
  --max-size: 36.00;
  --min-size: 24.00;
  font-size: var(--responsive);
  @include fvar($exa, $medium)
}

.fs-h5 {
  --max-size: 24.00;
  --min-size: 24.00;
  font-size: var(--responsive);
}

.fs-bs {
  --max-size: 16.00;
  --min-size: 14.00;
  font-size: var(--responsive);
  @include fvar($exa, $regular)
}

@media (min-width: $laptop) {
  [class*="fs"] { font-size: calc(var(--max-size) * 1px); }
}

@media (min-width: $tablet) {
  .fs-h2,
  .fs-h3,
  .fs-h4 {
    margin-block-start: rem(44);
  }
}

@media (max-width: $mobile) {
  [class*="fs"] { font-size: calc(var(--min-size) * 1px); }
}
