#map {
  width: 100vw;
  height: 40vh;
}

.contact {
  --columns: 1fr;
  --areas:
    "maps" max-content
    "form" max-content
    "meta" auto;
  display: grid;
  grid: var(--areas) / var(--columns);
  align-content: space-between;
  margin: 0 auto;
  max-width: var(--laptop);
  height: 100vh;

  > .maps-area {
    grid-area: maps;
  }

  > .meta-area {
    grid-area: meta;
    padding: rem(16);
    color: var(--black);
  }

  > .form-area {
    --shadow: hsl(263.8 96.9% 61.8% / .16);
    grid-area: form;
    border-radius: rem(6);
    box-shadow: 0.2rem 1rem 2rem -1rem var(--shadow);
    background: var(--white);
    padding: rem(16);

    > h1 {
      color: var(--gray-100);
      @include fvar($exa, $semibold)
    }
    > p {
      margin-block-end: rem(22);
    }
    > small {
      margin-block-end: rem(22);
      color: var(--alert-60);
      @include fvar($exa, $regular);
    }
  }
}

@media screen and (min-width: $tablet) {
  #map {
    width: rem(600);
    height: 100vh;
  }

  .contact {
    --columns: 1fr 1fr;
    --areas:
      "form maps" max-content
      "form maps" max-content
      "meta meta" max-content;
    gap: 1.5vmin;

    > * {
      display: grid;
      place-content: center;
    }

    > .form-area {
      padding: 0;

      > * { padding: 0 rem(42); }
      > h1 { margin-block-start: 0; }
    }
  }
}
