// https://css-tricks.com/building-a-conference-schedule-with-css-grid/
@media screen and (min-width: $tablet) {
  .o-schedule {
    // Дата
    --day-1: track-1-start;
    --day-2: track-2-start;
    --day-3: track-3-start;
    --day-4: track-4-start;
    --day-5: track-5-start;
    --day-6: track-6-start;
    // Время
    --of-09: time-0900 / time-1000;
    --of-10: time-1000 / time-1100;
    --of-11: time-1100 / time-1200;
    --of-12: time-1200 / time-1300;
    --of-13: time-1300 / time-1400;
    // --of-14: time-1400 / time-1500;
    // --of-15: time-1500 / time-1600;
    // --of-16: time-1600 / time-1700;
    // --of-17: time-1700 / time-1800;
    --of-18: time-1800 / time-1900;
    --of-19: time-1900 / time-2000;
    --of-20: time-2000 / time-2100;

    --spacing: #{rem(16)}; // 1.5vmin
    max-width: var(--laptop);
    /* autoprefixer grid: no-autoplace */
    display: grid;
    grid-template-rows:
      [tracks] auto
      [time-0900] 0.5fr
      [time-1000] 0.5fr
      [time-1100] 1fr
      [time-1200] 0.5fr
      [time-1300] 1fr
      [time-1400] 0.5fr
      // [time-1500] 1fr
      // [time-1600] 1fr
      // [time-1700] 1fr
      [time-1800] 1fr
      [time-1900] 1fr
      [time-2000] 1fr;
    grid-template-columns:
      [times] 4em
      [track-1-start] 1fr
      [track-1-end track-2-start] 1fr
      [track-2-end track-3-start] 1fr
      [track-3-end track-4-start] 1fr
      [track-4-end track-5-start] 1fr
      [track-5-end track-6-start] 1fr
      [track-6-end];
    gap: var(--spacing);
  }
}

.o-schedule { // Резервный вариант + моб.
  margin: 0 auto;
  padding-inline-start: rem(25);
  padding-inline-end: rem(25);
  margin-block-end: 3vw;
}

.date-slot { // Липкий заголовок только на десктопе
  display: none;
  color: var(--gray-100);
}

.time-slot {
  padding-block-end: rem(16);
  color: var(--black);
}

.date-slot,
.time-slot {
  margin: 0;
  font-size: 1em;
  @extend %tabular-nums;
  @include fvar($exa, $semibold)
}

@for $i from 1 through 6 {
  .day-#{$i} {
    background-color: var(--white);
  }
}
/* Цвета дней недели
.day-1 { background-color: #ffd7d9; }
.day-2 { background-color: #ffd6e8; }
.day-3 { background-color: #e8Daff; }
.day-4 { background-color: #d0e2ff; }
.day-5 { background-color: #bae6ff; }
.day-6 { background-color: #9ef0f0; } */

@supports(display:grid) {
  @media screen and (min-width: $tablet) {
    .date-slot {
      position: sticky;
      top: 0;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: start;
      border-radius: rem(8) 0;
      background-color: hsl(0 0% 100% / .9);
      padding: rem(10) rem(8);
      text-transform: uppercase;
    }

    .date-slot,
    .time-slot {
      font-size: .75em;
    }

    .time-slot {
      grid-column: times;
      border-block-start-width: 1px;
      border-block-start-style: solid;
      border-block-start-color: var(--gray-30);
    }
  }
}
