extends ./template/_page

block vars
  -
    let page = data.pages.about;

block content
  video#promo(
    autoplay
    disablePictureInPicture
    loop
    muted
    preload="metadata"
    poster="../img/vp-poster.jpg")
    //- FF, Chrome
    source(src="../video/promo.webm" type="video/webm")
    //- IE, Safari
    source(src="../video/promo.mp4" type="video/mp4")
    //- https://www.w3.org/TR/media-frags/#naming-time

  section
    article
      h2.fs-h2 О студии
      p.fs-bs Добро пожаловать в уникальное тренировочное пространство, единственную в Великом Новгороде студию, специализирующуюся на направлениях Body&amp;Mind.
      p.fs-bs Здесь нет привычного шума и суеты больших спортивных клубов, приватность, тишина и уютная атмосфера, помогут сконцентрироваться на своих ощущениях и полностью погрузиться в тренировочный процесс.
      p.fs-bs Вас ждут авторские интерьеры, уникальное оборудование, современная система вентиляции и постоянный приток свежего воздуха. Мы продумали всё до мелочей, чтобы Вы могли наслаждаться временем, проведенным у нас.
      p.fs-bs Мы делаем ставку на индивидуальные тренировки или работу в мини-группах, также у нас есть широкий выбор групповых программ. Выбирайте одно направление или наслаждайтесь разнообразием&thinsp;&mdash;&thinsp;действует единая цена на все виды групповых тренировок.
      p.fs-bs Авторские методики, индивидуальный подход и профессиональный тренерский состав&thinsp;&mdash;&thinsp;гарантия Ваших быстрых результатов&excl;
      p.fs-bs Приходите&excl; Мы не просто приглашаем Вас в фитнес студию, а открываем двери в нашу дружную семью и теплую атмосферу&hellip;

      p.fs-bs
        | Звоните нам по телефону:#[br]
        | #[a(href="tel:+7 (921) 025-08-98" rel="nofollow") +7 (921) 025-08-98]#[br]
        | &mdash;&thinsp;или&thinsp;&mdash;#[br]
        | #[a(href="tel:+7 (8162) 92-02-20" rel="nofollow") 92-02-20]

block scripts
