extends ./template/_page

append head
  script(defer src="../js/loader.js")

block vars
  -
    let page = data.pages.index;

block content
  include ./cta
  .a2hs.hidden
    +cta({
      base: 'a2hs',
      type: 'button',
      text: 'Установить'
    })(type="button")
  .o-content#app
  .cursor
    .cursor__inner.cursor__inner--circle
    .cursor__inner.cursor__inner--dot

block scripts
  script(src="../js/index.js")

prepend scripts
  script(src="./a2hs.js")
