extends ./template/_page

block vars
  -
    let page = data.pages.payment;

block content
  section.terms
    article
      h2.fs-h3 Оплата на сайте Банковской картой
      p.fs-bs
        | Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплата заказа банковской картой». Оплата происходит через ПАО СБЕРБАНК с использованием следующих платежных систем:
      .payment-methods(style={ 'display': 'flex', 'flex-wrap': 'wrap' })
        span.icon
          span
            img(src="../img/mastercard.svg" alt="Mastercard")
        span.icon
          span
            img(src="../img/visa.svg" alt="Visa")
        span.icon
          span
            img(src="../img/mir.svg" alt="Mir")
        span.icon
          span
            img(src="../img/apple-pay.svg" alt="Apple Pay")
        span.icon
          span
            img(src="../img/google-pay.svg" alt="Google Pay")

      h3.fs-h4 Описание процесса передачи данных
      p.fs-bs
        | Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.#[br]
        | В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard SecureCode для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование.#[br]
        | Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl. #[br]
        | Возврат переведенных средств, производится на Ваш банковский счет в течение 5—30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту).

block scripts
