extends ./template/_page

block vars
  -
    let page = data.pages.schedule;

block content
  div(data-fit1c-calendar)
    a(href="https://www.fitness1c.ru/schedule?token=axEh6u8xUnV3FnQjXMSAeyA1")
      | Расписание работает на 1С:Фитнес клуб

block scripts
  script(src="../js/vendor.js")
  script(src="https://reservi.ru/widget-fit1c.v2/js/config.js" data-fit-salon-id="ba3ad006-ddee-42fb-bfc0-9ae6a765583f")
