block vars

doctype html
html(class="no-js" dir="ltr" lang="ru")
  head
    include ./_head
  body
    button.add-button(type="button")
      | Установить
    if page.id === 'index'
      #loader
    include ./_nav
    main.o-main(data-id=page.id)
      block content

    block scripts
    prepend scripts
      script(src="../js/a2hs.js")
    include ./_analytics
