lite-vimeo {
  position: relative;
  display: block;
  margin-block-start: 2rem;
  font-size: 10px;
  cursor: pointer;
  background-color: hsl(var(--black));
  background-position: center center;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  contain: content;
}

/*
  responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
lite-vimeo::after {
  display: block;
  padding-bottom: calc(100% / (16 / 9));
  content: '';
}

lite-vimeo > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* play button */
lite-vimeo > .ltv-playbtn {
  z-index: 1;
  width: 6.5em;
  height: 4em;
  cursor: pointer;
  background: rgba(23, 35, 34, 0.75);
  filter: drop-shadow(2px 8px 8px rgba(0, 0, 0, 0.4));
  border: 0;
  border-radius: 0.5em;
  outline: 0;
  opacity: 0.8;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

lite-vimeo:hover > .ltv-playbtn {
  /* background-color: rgb(0, 173, 239); */
  background-color: var(--accent);
  opacity: 1;
}

/* play button triangle */
lite-vimeo > .ltv-playbtn::before {
  content: '';
  border-color: transparent transparent transparent hsl(var(--white));
  border-style: solid;
  border-width: 10px 0 10px 20px;
}

lite-vimeo > .ltv-playbtn,
lite-vimeo > .ltv-playbtn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
lite-vimeo.ltv-activated {
  cursor: unset;
}

lite-vimeo.ltv-activated::before,
lite-vimeo.ltv-activated > .ltv-playbtn {
  pointer-events: none;
  opacity: 0;
}
