extends ./pug/page

block vars
  - let page = data.pages.coaches;
  -
    let coaches = [
      {
        'title': ['Наталья', 'Королёва'],
        'field': 'Основательница бренда и владелица студии «Body & Mind», NPS bikini champion, фитнес-коуч, консультант по питанию. “Я создаю прекрасных женщин! И своим примером показываю, что возраст всего лишь цифра в паспорте, а количество детей только украшает! И ни в коем случае эти два фактора не влияют на фигуру и не препятствуют активной жизненной позиции.”',
        'videoId': ''
      },
      {
        'title': ['Анастасия', 'Акулова'],
        'field': 'Мастер спорта по спортивной гимнастике. Подарит вам красивое гибкое тело и ровный шпагат. “Уверена, что спорт должен начинаться с раннего детства, это и есть залог здоровья! Моя программа функционального тренинга для детей основывается на общей подготовке и изучении основ движения, что дает общее развитие вашему ребенку и способствует развитию антропометрических данных!”',
        'videoId': 381051861
      },
      {
        'title': ['Анна', 'Сафронова'],
        'field': '“Для меня фитнес это гораздо больше, чем просто накаченные мышцы и стройное тело. Фитнес — это способ подарить своему телу свободу движения без боли и ограничений! Я хочу, чтобы Вы уверено ощущали себя в своём теле, красиво выглядели и наслаждались каждым движением!”',
        'videoId': 381053055
      },
      {
        'title': ['Елена', 'Лютая'],
        'field': '“Практикую с 2006 года, преподаю с 2009. На базе многолетнего опыта сформировался спокойный, размеренный, приближенный к йогатерапевтическому стиль ведения занятий. Всегда открыта к новым знаниям. Цель моих занятий — помочь восстановить гармонию между телом и сознанием”',
        'videoId': 381060232
      },
      {
        'title': ['Елизавета', 'Лобова'],
        'field': 'Любое дело, при должном подходе, для практикующего со временем теряет свои логическо-романтические ореолы и, либо превращается в тоскливую рутину, либо раскрывается с трудно объяснимой стороны — раскрывается изнутри, становится молчаливым путём. Спустя годы "в Йоге", вспоминая сейчас самое начало, я не уверена, что между йогой тогда и йогой сейчас осталось что-то общее кроме самого слова, как мало общего у зерна и цветущего растения. Поэтому совершенно не важно, как Вы начнёте, какие мотивы и стимулы будут Вами двигать. Суть — в практике, в настойчивости. Плоды у этого дерева одинаковые. Можно начать с простого интереса к индийской культуре и неожиданно заметить, что Ваше здоровье, любое здоровье, будь то тела или личности — стало в разы крепче; либо наоборот, решить немного подкачать ягодицы и вдруг познать высоты духа. Так что, скажу по опыту: создание представлений о практике — пустая трата времени, ведь практика изменит Ваши представления о Вас самих.',
        'videoId': ''
      },
      {
        'title': ['Ольга', 'Лунгу'],
        'field': '“Если вы чувствуете усталость, напряжение, постоянную гонку, если у вас депрессия или просто плохое настроение, болит спина, шея, поясница — вас спасет йога! Йога вернет вам ощущение радости и счастья! Хотите, чтобы мир стал лучше, — начните с себя и сделайте себя счастливыми!”',
        'videoId': 381060316
      },
      {
        'title': ['Ольга', 'Петухова'],
        'field': 'Сертифицированный тренер и специалист широкого профиля. Улыбаясь, задаст жару  вашему прессу и ягодицам, а на последок доставит удовольствие глубокой растяжкой. “Стараюсь всем своим клиентам дарить внимание, заботу, и, само собой, результаты! Хотите привести себя в форму и зарядиться настроением? — Жду вас на своих занятиях!”',
        'videoId': 381063620
      },
      {
        'title': ['Татьяна', 'Заднипрянец'],
        'field': 'Высшее физкультурное образование. Посетила огромное количество конвенций и воркшопов. Является сертифицированным тренером силовых программ. “Для меня фитнес — чуть больше, чем работа, и чуть меньше, чем целая жизнь. Если вы хотите почувствовать свои мышцы и ощутить усталость после тренировки, то это точно ко мне”',
        'videoId': 381064561
      }
    ];

block content
  +carousel({
    name: 'carousel--1',
    data: coaches,
    control: 'dots',
    sideFade: 24,
  })

block scripts
  script(defer type="module" src="./js/modules.js")
