extends ./pug/page

block vars
  - let page = data.pages.workout;
  -
    let workouts = [
      {
        'title': 'Gyrotonic',
        'field': 'GYROTONIC EXPANTION SYSTEM® — уникальная система упражнений, согласно которой тело человека воспринимается, как единое целое, где центром является позвоночный столб. Система работает через 7 основных движений позвоночника, которые создают баланс, и формируют сильное и гибкое тело. Эта методика очень мягко, но постоянно, в течение всего занятия работает над суставами, связками, мышцами в соответствии с индивидуальными возможностями организма. Вся работа происходит только с собственным весом. Каждое движение в системе определяет свой тип дыхания, которое, в свою очередь, способствует увеличению воздействия движения на организм. Дыхание — важнейшее составляющее системы упражнений GYROTONIC® . С помощью правильного дыхания во время занятия тренируется дыхательная мускулатура и, как следствие, кардиореспираторная система, стимулируется нервная система, увеличивается поступление кислорода в кровь, открываются энергетические каналы организма.',
      }, {
        'title': 'Pilates',
        'lead': 'Занятия по системе Джозефа Пилатеса. Способствуют улучшению гибкости, силы и выносливости, улучшают осанку, координацию и общее физическое состояние.',
        'field': [
          {
            'accordionHeaders': [
              'Men’s Pilates',
              'Pilates Mat',
              'Pilates Reformer',
              'Power Pilates'
            ],
            'accordionPanels': [
              'Программа разработанна специально для мужчин, которые ведут сидячий образ жизни, испытывают головные боли, боли в спине, подвержены сильному стрессу. Методика улучшает кровоснабжение внутренних органов, функцию сердца и легких. Служит профилактикой заболеваний репродуктивной системы. На тренировках большое внимание уделяется укреплению мышц центра (поперечная мышца живота, мышца тазового дна, многораздельная мышца). Особенно показана для мужчин после 35 лет.',
              '«Умная» тренировка, направленная на осознанную работу с телом, снятие напряжения с позвоночника и расслабление силовых мышц. В результате регулярных занятий Вы получите стройное и сильное тело, гибкость и красивую осанку.',
              'Занятия на тренажерах: Reformer, Cadillac, Chair, Ladder Barrel, Spine Corrector и т.д. Направлены на укрепление спины, улучшение осанки и здоровья позвоночника. Использование специальных тренажеров увеличивает нагрузку и обеспечивает дополнительную поддержку, что помогает быстрее и эффективнее работать над изменением своего тела. Занятия на тренажерах проходят под руководством квалифицированных тренеров, что дает возможность добиться результатов в 3 раза быстрее, чем при самостоятельных занятиях или занятиях в группе.',
              'Развивает силу мышц, прорабатывая все мышечные группы. Увеличивает подвижность и гибкость суставов, воспитывает умение управлять собой. Программа предполагает использование дополнительного силового оборудования.',
            ]
          }
        ]
      }, {
        'title': 'Yoga',
        'lead': 'Древнейшая оздоровительная система. Укрепляет тело, раскрепощает суставы и успокаивает ум.',
        'field': [
          {
            'accordionHeaders': [
              'Fitness Yoga',
              'Fly Yoga',
              'Hatha Yoga',
              'Relax Yoga',
            ],
            'accordionPanels': [
              'Молодой и самый энергичный вид йоги, направлен на улучшение общего физического самочувствия, укрепление мышечного корсета и развитие гибкости суставов. Снимает напряжение после рабочего дня и подтягивает мышцы. Хорошо подходит, как для новичков, так и для довольно продвинутых спортсменов.',
              'Уникальное направление телесной практики, совмещает в себе йогу, стретчинг и элементы воздушной гимнастики. Приводит к обновлению всего организма и гармонизирует эндокринную, пищеварительную, дыхательную системы. Тонизирует мышцы, развивает гибкость и снимает мышечные зажимы.',
              'Это направление йоги подразумевает не только физические упражнения, но и психологические техники, основанные на правильном дыхании. Благотворно влияет на весь организм при хронической усталости и стрессе. Омолаживает и тонизирует организм. Возвращает подвижность суставов и нормализует работу опорно-двигательной, сердечно-сосудистой, пищеварительной систем.',
              'Одна из самых эффективных методик в йогатерапии, включающая в себя классические асаны, дыхательные упражнения и специальные техники глубокой релаксации. В результате такой практики Вы научитесь расслабляться и справляться с тревогой и стрессом, избавитесь от хронической боли и мышечных спазмов. Упражнения подбираются в зависимости от возможностей и состояния здоровья.'
            ]
          }
        ]
      }, {
        'title': 'Functional',
        'lead': 'Энергоемкая программа тренировок, направленная на комплексное улучшение общей физической формы. Сочетание функционального тренинга с принципами Пилатеса позволяет обеспечить качество и безопасность движения, а интенсивный темп тренировки ускорит обмен веществ.',
        'field': [
          {
            'accordionHeaders': [
              'Full Body',
              'Power Class',
              'Stretching',
              'Super Sculpt',
              'TRX',
            ],
            'accordionPanels': [
              'По исследованию американских учёных — «Strength and Conditioning Research» — признана лучшей программой для проработки всех основных мышечных групп за одну тренировку',
              'Базовая силовая тренировка с использованием дополнительного фитнес-оборудования. Направлена на проработку мышц всего тела, ускорение обмена веществ, сброс веса, улучшение мышечного тонуса и рельефа. Включает в себя комплекс упражнений на верхнюю, нижнюю части тела, мышцы кора и кардионагрузку. Способствует развитию гибкости и выносливости. Повышает стрессоустойчивость.',
              'Цель тренировки — развитие подвижности и гибкости. Сочетание динамических и статических упражнений обеспечит достижение желаемого результата без травм. Стимулирует кровообращение и циркуляцию лимфы, способствует восстановлению мышц и сохранению их эластичности, снимает стресс и напряжение, улучшает осанку.',
              'Программа силовой аэробики, основанная на главных принципах Пилатеса. Развивает силу и выносливость, придает телу рельефность и ускоряет обмен веществ. Улучшает координацию, ловкость движений и повышает работоспособность внутренних органов. Укрепляет иммунную и сердечно-сосудистую системы. За счет сочетания силовой и аэробной нагрузки система позволяет сжечь лишний жир, сделать тело пластичным и проработать все большие группы мышц.',
              'Тренировка с собственным весом и использованием подвесных конструкций (петель). Позволяет не только развить все мышечные группы, укрепить связки и сухожилия, но и улучшить гибкость, ловкость, силу, вестибулярный аппарат и выносливость. Важным достоинством данного вида тренировки является эффективное развитие мышц кора.',
            ]
          }
        ]
      }, {
        'title': 'Kids',
        'lead': 'Уникальные программы, направленные на всестороннее развитие и оздоровление детей.',
        'field': [
          {
            'accordionHeaders': [
              'Dance Therapy',
              'Foundation',
            ],
            'accordionPanels': [
              'Оздоровительное занятие для детей 2-5 лет с элементами гимнастики и хореографии, задействует различные группы мышц, развивает чувство ритма, тренирует память и внимательность.',
              'Занятия направлены на развитие физических качеств (координации, силы, ловкости и гибкости), изучение основ движения, укрепление мышечного корсета, профилактику возникновения сколиоза. Способствуют развитию антропометрических данных. В игровой форме происходит подготовка детей к профессиональному спорту. Подходит для детей 4-6 лет.',
            ],
          }
        ]
      }
    ];

block content
  +carousel({
    name: 'carousel--2',
    data: workouts,
    control: 'dots',
  })

block scripts
  script(defer type="module" src="./js/modules.js")
